{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}スタッフページ{% endblock %}

{% block content %}

<div class='container my-3'>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">備品登録</h4>
                    <p class="card-text">新しい備品の登録</p>
                    <a href="{% url 'register:equip_add' %} " class="btn btn-primary">備品登録画面に移動</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">備品検索</h4>
                    <p class="card-text">備品情報の検索・編集・返却手続き</p>
                    <a href="{% url 'staff:equip_list' %} " class="btn btn-primary">備品検索画面に移動</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container my-5'>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ユーザー追加</h4>
                    <p class="card-text">ユーザーとスタッフの追加</p>
                    <a href="{% url 'register:user_add'  %}" class="btn btn-primary">ユーザ-追加画面に移動</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ユーザー情報</h4>
                    <p class="card-text">ユーザ情報の確認・編集</p>
                    <a href="{% url 'staff:user_list'  %}" class="btn btn-primary">ユーザー情報画面に移動</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>スタッフへのお知らせ</h4>
</div>

{% endblock %}